doctype html
html(lang = 'en')
	head
		title gitTutor
		script(type='text/javascript')
			var following = !{following};
			//- console.log(following);
	body
		each value, key in following
			h2=key
			li=value
