html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='style.css')
    title= GitTutor
  body
    .container
    .table
      for val in followers
        .row
          .col-sm-offset-2.col-sm-4
            a(href='http://www.github.com/'+val.username) #{val.username}
          .col-sm-4
            p #{val.language}
