body{
  font-family: 'Roboto', sans-serif;
}
table{
  display: table;
  width: 45% !important;
  margin: 0 auto;
  margin-top: 2em !important;
}

td:first-of-type{
  width: 6em
}

.email{
  color: black !important;
}
